extends layout


block content

    -data = data || {}

    if errors
        ul.my-errors
            for error in errors
                li= error.msg

    div(id="particles-js" class="particles-js")
        canvas(
        class="particles-js-canvas-el"
        width="1615"
        height="881"
        style="width: 100%; height: 100%"
        )


    form(action="/pushUpdate" method="POST" class="form-updates")
        label(for="devicename") Device codename:
            input(
            type="text"
            id="devicename"
            name="devicename"
            class="form-control"
            value=data.device
            )

        label(for="datetime") Build date:
            input(
            type="text"
            id="datetime"
            name="datetime"
            class="form-control"
            value=data.datetime
            )

        label(for="filename") File name:
            input(
                type="text"
                id="filename"
                name="filename"
                class="form-control"
                value=data.filename
            )

        label(for="id") Hash:
            input(
            type="text"
            id="id"
            name="id"
            class="form-control"
            value=data.id
            )


        label(for="romtype") Release type:
            input(
            type="text"
            id="romtype"
            name="romtype"
            class="form-control"
            value=data.romtype
            )

        label(for="size") Size:
            input(
            type="text"
            id="size"
            name="size"
            class="form-control"
            value=data.size
            )

        label(for="url") Download URL:
            input(
            type="text"
            id="url"
            name="url"
            class="form-control"
            value=data.url
            )

        label(for="version") Version:
            input(
            type="text"
            id="version"
            name="version"
            class="form-control"
            value=data.version
            )


        input(
        type="submit"
        value="Submit"
        class="btn btn-lg btn-primary btn-block"
        )

    form(action="/deleteUpdate", method="POST", class="form-updates")
        label(for="hash") Hash of update to be deleted:
            input(type="text"
            id="hash"
            name="hash"
            class="form-control"
            )

        input(
        type="submit"
        value="Delete"
        class="btn btn-lg btn-primary btn-block"
        )